@model List<UserViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Users:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Role</th>
                <th>AccessFailedCount</th>
                <th>Password hash</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.Role</td>
                    <td>@user.FailedAccessCount</td>
                    <td>@user.PasswordHash</td>
                </tr>
            }
        </tbody>
    </table>
</div>
